@font-face {
    font-family: "Harlow Solid Italic Italic";
    src: url(../font/Harlow-Solid-Italic-Italic.ttf) format("truetype");
}

body{
	background-image: url(../img/cheesy-popcorn.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: ubuntu;
}

header{
	background-color: rgba(255,255,255,0.65);
	width: 100%;
	height: 56px;
	margin: 0;
	box-shadow: 0px 2px 5px #8c8c8c;
	position: fixed;
	top: 0;
}
#menu{
	margin: auto;
	height: inherit;
	width: inherit;
	padding: auto;
	display: inline;
}
.nav-left{
	float: left;
	height: inherit;
	position: relative;
	display: inline-grid;
	width: auto;
	height: inherit;
}
.nav-left p{
	margin:0 auto;
	font-size: 30px;
	position: relative;
	font-family: "Harlow Solid Italic Italic";
	letter-spacing: -1.9pt;
	vertical-align: middle;
	line-height: 56px;
}
.nav-left p:hover{
	color:orange;
}
.nav-right-wrapper{
	height: inherit;
	float: right;
}
.nav-right{
	width :130px;
	font-size: 30px;
	display: inline-grid;
	height: inherit;
	border-right: 2px solid #c1c1c1;
}
#home{
	border-left: 2px solid #c1c1c1;
}

#menu .nav-right-wrapper .nav-right a{
	font-size: 12pt;
	text-decoration: none;
	color: black;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 56px;
}
.dropdown{
	margin:0;
	background-color: rgba(255,255,255,0.7);
	width: inherit;
	display: none;
}
.dropdown-data ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	display: none;

}
.dropdown-data ul li{
	font-size: 12pt;
	list-style-type: none;
	padding: auto;
	width: inherit;
	height: 40px;	
	text-align: center;
	line-height: 40px;
}

.dropdown-data ul li:hover{
	background-color: orange;
	color:white;
	}
#menu .nav-right-wrapper .nav-right:hover{
	background-color: orange;
}
#menu .nav-right-wrapper .nav-right:hover > a{
	color: white;
}

#menu .nav-right-wrapper .nav-right:hover >.dropdown, .dropdown-data ul{
	display: block;
}

.dropdown{
	width: inherit;
}
#profile{
	background-color: rgba(255,170,0,0.5);
	width: 100%;
	height: 450px;
	color: white;
	padding-top: 91px;
}
#profile a{
	vertical-align: middle;
	text-decoration: none;
	color: white;
	font-size: 19px;
}
#icon{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 200px;
}
#tagline{
	margin-top: 20PX;
	font-size: 30px;
}
#desc{
	width: 400px;
	font-size: 12pt;
	word-wrap: break-word;
	margin-top: 10px;
}
#timeline{
	height: 1000px;
	width : inherit;
}