@font-face {
    font-family: "Harlow Solid Italic Italic";
    src: url(../font/Harlow-Solid-Italic-Italic.ttf) format("truetype");
}

body{
	background-image: url(../img/cheesy-popcorn.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: ubuntu;
}

header{
	background-color: rgba(255,255,255,0.65);
	width: 100%;
	height: 50px;
	margin: 0;
	box-shadow: 0px 3px 5px #8c8c8c;
	position: fixed;
	top: 0;
}
.nav-menu-logo{
	display: none;
}
.menu{
	margin: auto;
	height: inherit;
	padding: auto;
	width: inherit;	
}
.nav-left{
	float: left;
	height: inherit;
	position: relative;
	display: inline-grid;
	width: auto;
}
.nav-left p{
	margin:0 auto;
	font-size: 30px;
	position: relative;
	font-family: "Harlow Solid Italic Italic";
	letter-spacing: -1.9pt;
	vertical-align: middle;
	line-height: 50px;
}
.nav-left p:hover{
	color:orange;
	cursor: default;
}
.nav-right-wrapper{
	height: inherit;
	float: right;
}
.nav-right{
	min-width :120px;
	font-size: 30px;
	display: inline-grid;
	height: inherit;
	border-right: 2px solid #c1c1c1;
}
#home{
	border-left: 2px solid #c1c1c1;
}

.menu .nav-right-wrapper .nav-right, a{
	font-size: 12pt;
	text-decoration: none;
	color: black;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	transition: font 0.1s ease;
	cursor: pointer;
}
.dropdown{
	margin:0;
	background-color: rgba(255,255,255,0.7);
	width: inherit;
	display: none;
}
.dropdown-data ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	display: none;

}
.dropdown-data ul li{
	font-size: 12pt;
	list-style-type: none;
	padding: auto;
	width: inherit;
	height: 40px;	
	text-align: center;
	line-height: 40px;
}

.dropdown-data ul li:hover{
	background-color: orange;
	color:white;
	}
.menu .nav-right-wrapper .nav-right:hover{
	background-color: orange;
}
.menu .nav-right-wrapper .nav-right:hover > a{
	color: white;
}

.menu .nav-right-wrapper .nav-right:active > a{
	font-size: 10pt;
	text-decoration: none;
	color: white;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 54px;	
	transition: font 0.1s ease
}
.menu .nav-right-wrapper .nav-right:hover >.dropdown, .dropdown-data ul{
	display: block;
}

.dropdown{
	width: inherit;
}

/*----------------------index.html--------------------------------*/
#profile{
	background-color: rgba(255,170,0,0.5);
	width: 90%;
	height: 380px;
	color: white;
	margin-left: 5%;
	margin-top: 50px;
	padding-top: 5px;
}
#desc-wrapper{
	width: inherit;
}
#profile a{
	vertical-align: middle;
	text-decoration: none;
	color: white;
	font-size: 19px;
}
#icon{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 200px;
}
#tagline{
	margin-top: 20PX;
	font-size: 30px;
}
#desc{
	width: inherit;
	max-width: 400px;
}
#desc-text{
	max-width: 400px;
	font-size: 12pt;
	word-wrap: break-word;
	margin-top: 10px;
}

#news-info-title{
	color:white;
	margin-top: 2%;
	font-size: 22pt;
	border-bottom: 1px dashed white;
	width:90%;
	letter-spacing: 3px;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
40% { left: 0%; }
60% { left: -100%; }
80% { left: -100%; }
100% { left: 0%; }
}

#slider { 
	overflow:hidden;
	margin:2% 5% 2% 5%;
	width: 90%;
	 }
#slider figure img { 
	width: 25%; 
	float: left; 
}
#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  z-index: -1;
  font-size: 0;
  animation: 10s slidy infinite; 
}

/*----------------------------about.html----------------------------------*/

#content{
	background-color: rgba(255,170,0,0.5);
	width: 90%;
	min-height: 500px;
	color: white;
	margin-left: 5%;
	margin-top: 50px;
	padding-top: 100px;	
}
#map-wrapper{
	display: inline-block;
}
#map{
	height: 300px;
	width: 25%;
	border: 1px white dashed;
	min-width: 300px;
}
#information-wrapper{
	display: inline-block;
	position: relative;
	bottom: 50px;	
	width: auto;
	margin-left: 2%;
}
#information{
	position: relative;
	text-align: left;
	font-size: 16pt;
}

footer{
	background-color: rgba(255,170,0,0.5);
	width: 90%;
	height: 40px;
	color: white;
	margin-left: 5%;
	margin-top: 2%;
	padding-top: 5px;
	vertical-align: middle;
	line-height: 40px;
}

/*----------------------------products.html-----------------------------*/
.products-menu{
margin: auto;
z-index: -1;
width: 33%;
}

#products-content{
	background-color: rgba(255,170,0,0.5);
	width: 90%;
	min-height: 500px;
	color: white;
	margin-left: 5%;
	margin-top: 50px;
	z-index: -1;
}
#products-nav-wrapper{
text-align: justify-all;
background-color: rgba(255,255,255,0.65);
}
#biscuit{
display: inline-block;
border-right: 2px solid #c1c1c1;
}
#crackers{
display: inline-block;
border-right: 2px solid #c1c1c1;

}
#chips{
display: inline-block;
}
#biscuit1,#biscuit2,#biscuit3{
	display: inline-block;
}


/*-----------------------------media-screen------------------------------*/

@media screen and (max-width: 780px){
	.nav-right-wrapper{
		display: none;
	}
	.nav-menu-logo {
		height: inherit;
		width: 20px;
		float: right;			
		vertical-align: middle;
		line-height: 60px;	
		display: inline;
		margin-right: 2%;
	}
	.nav-menu-logo img{
		height: 20px;
		width: 20px;		
	}
}